/* line 1, ../Diego Pereya - Coderhouse/scss/style.scss */
body {
  animation-duration: 2s;
  animation-name: aparecer;
  text-align: center; }

/* line 6, ../Diego Pereya - Coderhouse/scss/style.scss */
h1, h2, h3, h6, th {
  color: white;
  background-color: #93c572; }

/* line 16, ../Diego Pereya - Coderhouse/scss/style.scss */
#grid-index {
  max-width: 99%;
  justify-items: start;
  align-items: start;
  display: grid;
  grid-template-areas: "grafico texto noticias";
  width: 100%;
  height: 100%; }

/* line 26, ../Diego Pereya - Coderhouse/scss/style.scss */
.index-text {
  grid-area: texto;
  height: 100%;
  width: 99%;
  text-align: left;
  padding-left: 5%;
  padding-right: 5%; }

/* line 34, ../Diego Pereya - Coderhouse/scss/style.scss */
.grafico-img {
  grid-area: grafico;
  display: flex;
  flex-direction: column; }
  /* line 38, ../Diego Pereya - Coderhouse/scss/style.scss */
  .grafico-img .img-link-brokers1 {
    padding-top: 10%;
    padding-bottom: 10%; }

/* line 43, ../Diego Pereya - Coderhouse/scss/style.scss */
.noti-economia {
  grid-area: noticias;
  display: flex;
  flex-direction: column; }
  /* line 47, ../Diego Pereya - Coderhouse/scss/style.scss */
  .noti-economia .img-noticias {
    padding-top: 10%;
    padding-bottom: 10%; }

/* line 52, ../Diego Pereya - Coderhouse/scss/style.scss */
.e-mail {
  padding: 2%; }

/* line 59, ../Diego Pereya - Coderhouse/scss/style.scss */
.cursos .load-cursos {
  display: block;
  margin: auto; }

/* line 64, ../Diego Pereya - Coderhouse/scss/style.scss */
.texto-cursos {
  padding-top: 2%;
  padding-left: 10%;
  padding-right: 10%; }

/* line 69, ../Diego Pereya - Coderhouse/scss/style.scss */
.preg-frec {
  align-items: center;
  font-size: 25px; }

/* line 73, ../Diego Pereya - Coderhouse/scss/style.scss */
.img-preg-frec {
  text-align: center;
  padding: 2%; }

/* line 77, ../Diego Pereya - Coderhouse/scss/style.scss */
#pfijo, #cauciones, #dolares {
  line-height: 130%; }

/* line 89, ../Diego Pereya - Coderhouse/scss/style.scss */
.ul-inv {
  line-height: 300%; }

/* line 92, ../Diego Pereya - Coderhouse/scss/style.scss */
.box-img-bro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2%; }
  /* line 98, ../Diego Pereya - Coderhouse/scss/style.scss */
  .box-img-bro .img-link-brokers {
    padding-top: 5%;
    padding-bottom: 5%; }

/* line 103, ../Diego Pereya - Coderhouse/scss/style.scss */
.files {
  display: flex;
  flex-direction: column; }
  /* line 106, ../Diego Pereya - Coderhouse/scss/style.scss */
  .files .ani {
    padding: 3%; }

/* line 110, ../Diego Pereya - Coderhouse/scss/style.scss */
footer {
  position: fixed;
  bottom: 0;
  clear: both;
  width: 100%; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media (max-width: 576px) {
  /* line 125, ../Diego Pereya - Coderhouse/scss/style.scss */
  .tit-subtit {
    width: 100%;
    height: 100%; }
  /* line 129, ../Diego Pereya - Coderhouse/scss/style.scss */
  #grid-index {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center; }
  /* line 135, ../Diego Pereya - Coderhouse/scss/style.scss */
  .grafico-img {
    height: 100%;
    width: 90%; }
  /* line 139, ../Diego Pereya - Coderhouse/scss/style.scss */
  .img-noticias {
    height: 100%;
    width: 90%; }
  /* line 143, ../Diego Pereya - Coderhouse/scss/style.scss */
  .img-link-brokers1 {
    height: 100%;
    width: 90%; }
  /* line 147, ../Diego Pereya - Coderhouse/scss/style.scss */
  .index-text {
    grid-area: texto;
    width: 100%;
    height: 100%;
    padding: 5px; }
  /* line 153, ../Diego Pereya - Coderhouse/scss/style.scss */
  .img-link-brokers {
    height: 100%;
    width: 100%; }
  /* line 157, ../Diego Pereya - Coderhouse/scss/style.scss */
  .img-preg-frec {
    width: 50%; }
  /* line 160, ../Diego Pereya - Coderhouse/scss/style.scss */
  footer {
    position: relative;
    bottom: 0;
    clear: both;
    width: 100%;
    padding-top: 5%; } }

@media (max-width: 768px) {
  /* line 169, ../Diego Pereya - Coderhouse/scss/style.scss */
  #grid-index {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center; }
  /* line 175, ../Diego Pereya - Coderhouse/scss/style.scss */
  .img-link-brokers {
    height: 100%;
    width: 100%; }
  /* line 179, ../Diego Pereya - Coderhouse/scss/style.scss */
  footer {
    position: fixed;
    bottom: 0;
    clear: both;
    width: 100%;
    padding-top: 5%; } }

@media (max-width: 992px) {
  /* line 188, ../Diego Pereya - Coderhouse/scss/style.scss */
  #grid-index {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center; }
  /* line 194, ../Diego Pereya - Coderhouse/scss/style.scss */
  footer {
    position: fixed;
    bottom: 0;
    clear: both;
    width: 100%;
    padding-top: 5%; } }

@media (max-width: 1024px) {
  /* line 203, ../Diego Pereya - Coderhouse/scss/style.scss */
  #grid-index {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center; }
  /* line 209, ../Diego Pereya - Coderhouse/scss/style.scss */
  footer {
    position: fixed;
    bottom: 0;
    clear: both;
    width: 100%;
    padding-top: 5%; } }

/*# sourceMappingURL=style.css.map */