body {
	animation-duration: 2s;
	animation-name: aparecer;
	text-align: center;
}
h1 {
	color: white;
	background-color: #93c572;
}
h2 {
	@extend h1
}
h3 {
	@extend h1
}
#grid-index {
	max-width: 99%;
	justify-items: start;
	align-items: start;
	display: grid;
	grid-template-areas:
		"grafico texto noticias";
	width: 100%;
	height: 100%;
}
	.index-text {
	grid-area: texto;
	height: 100%;
	width: 99%;
	text-align: left;
	padding-left: 5%;
	padding-right: 5%;
}
    .grafico-img {
	grid-area: grafico;
	display: flex;
	flex-direction: column;
	.img-link-brokers1 {
		padding-top: 10%;
		padding-bottom: 10%;
	}
}
	.noti-economia {
	grid-area: noticias;
	display: flex;
	flex-direction: column;
	.img-noticias {
		padding-top: 10%;
		padding-bottom: 10%;
	}
}
.e-mail {
    padding: 2%;
}
h6 {
	@extend h1
}
.cursos {
    .load-cursos {
        display: block;
        margin: auto;
	}
}
.texto-cursos {
	padding-top: 2%;
	padding-left: 10%;
	padding-right: 10%;
	}
.preg-frec {
	align-items: center;
	font-size: 25px;
	}
    .img-preg-frec {
		text-align: center;
		padding: 2%;
	}
	#pfijo {
		line-height: 130%;
	}
	#cauciones {
		@extend #pfijo ;
	}
	#dolares {
		@extend #pfijo ;
	}
th {
	@extend h1
}
.ul-inv {
	line-height: 300%;
}
.box-img-bro {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2%;
	.img-link-brokers {
		padding-top: 5%;
		padding-bottom: 5%;
	}
}
.files {
	display: flex;
	flex-direction: column;
	.ani {
		padding: 3%;
	}
}
footer {
	position: fixed;
    bottom: 0;
    clear: both;
    width: 100%;
}
@keyframes aparecer {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@media (max-width: 576px) {
	.tit-subtit {
		width: 100%;
		height: 100%;
	}
	#grid-index {
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
	}
	.grafico-img {
		height: 100%;
		width: 90%;
	}
	.img-noticias {
		height: 100%;
		width: 90%;
	}
	.img-link-brokers1 {
		height: 100%;
		width: 90%;
	}
	.index-text {
		grid-area: texto;
		width: 100%;
		height: 100%;
		padding: 5px;
	}
	.img-link-brokers {
		height: 100%;
		width: 100%;
	}
	.img-preg-frec {
		width: 50%;
	}
	footer {
		position: relative;
		bottom: 0;
		clear: both;
		width: 100%;
		padding-top: 5%;
	}
}
@media (max-width: 768px) {
	#grid-index {
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
	}
	.img-link-brokers {
		height: 100%;
		width: 100%;
	}
	footer {
		position: relative;
		bottom: 0;
		clear: both;
		width: 100%;
		padding-top: 5%;
	}
}
@media (max-width: 992px) {
	#grid-index {
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
	}
	footer {
		position: relative;
		bottom: 0;
		clear: both;
		width: 100%;
		padding-top: 5%;
	}
}
@media (max-width: 1024px) {
	#grid-index {
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
	}
	footer {
		position: relative;
		bottom: 0;
		clear: both;
		width: 100%;
		padding-top: 5%;
	}
}