body {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  text-align: center;
}

h1, h2, h3, h6, th {
  color: white;
  background-color: #93c572;
}

#grid-index {
  max-width: 99%;
  justify-items: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "grafico texto noticias";
  width: 100%;
  height: 100%;
}

.index-text {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: texto;
  height: 100%;
  width: 99%;
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
}

.grafico-img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: grafico;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grafico-img .img-link-brokers1 {
  padding-top: 10%;
  padding-bottom: 10%;
}

.noti-economia {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: noticias;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.noti-economia .img-noticias {
  padding-top: 10%;
  padding-bottom: 10%;
}

.e-mail {
  padding: 2%;
}

.cursos .load-cursos {
  display: block;
  margin: auto;
}

.texto-cursos {
  padding-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
}

.preg-frec {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
}

.img-preg-frec {
  text-align: center;
  padding: 2%;
}

#pfijo, #cauciones, #dolares {
  line-height: 130%;
}

.ul-inv {
  line-height: 300%;
}

.box-img-bro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2%;
}

.box-img-bro .img-link-brokers {
  padding-top: 5%;
  padding-bottom: 5%;
}

.files {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.files .ani {
  padding: 3%;
}

footer {
  position: fixed;
  bottom: 0;
  clear: both;
  width: 100%;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 576px) {
  .tit-subtit {
    width: 100%;
    height: 100%;
  }
  #grid-index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .grafico-img {
    height: 100%;
    width: 90%;
  }
  .img-noticias {
    height: 100%;
    width: 90%;
  }
  .img-link-brokers1 {
    height: 100%;
    width: 90%;
  }
  .index-text {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: texto;
    width: 100%;
    height: 100%;
    padding: 5px;
  }
  .img-link-brokers {
    height: 100%;
    width: 100%;
  }
  .img-preg-frec {
    width: 50%;
  }
  footer {
    position: relative;
    bottom: 0;
    clear: both;
    width: 100%;
    padding-top: 5%;
  }
}

@media (max-width: 768px) {
  #grid-index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .img-link-brokers {
    height: 100%;
    width: 100%;
  }
  footer {
    position: relative;
    bottom: 0;
    clear: both;
    width: 100%;
    padding-top: 5%;
  }
}

@media (max-width: 992px) {
  #grid-index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer {
    position: relative;
    bottom: 0;
    clear: both;
    width: 100%;
    padding-top: 5%;
  }
}

@media (max-width: 1024px) {
  #grid-index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer {
    position: relative;
    bottom: 0;
    clear: both;
    width: 100%;
    padding-top: 5%;
  }
}
/*# sourceMappingURL=style.css.map */